page-order {


  #alert-msg-0{
    color:green;
  }
  .background {
    text-align: center;
    color:grey;
    p{
      font-size: 1.6em;
    }
    .backImg {
      width: 60%;

    }
  }

  .item-entry{
    ion-label {

    }
  }

  .item-title{
    font-weight: 500;
    font-size: 1.5rem;
  }

  .item-description{
    color:grey;
    font-size: 1.5rem;
  }

  .iconSize{
    font-size: 2.5rem;
    height: 100%;
    display: block;
    text-align: center;
  }


}
