<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="toolbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Order History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>


  <div class="background" *ngIf="showguide">
    <p> Press + add new button to book your first order now</p>
    <img class="backImg" src="assets/img/cooking_gas.png">
  </div>


  <ion-item class="item-entry"  full  icon-end
            *ngFor="let order of orderHist; let i=index" icon-right>

    <ion-grid>
      <ion-row no-padding (click)=viewEntry(i)>
        <ion-col tappable no-padding>
          <h3 class="item-title"> Order Type({{order.transactionType}}): </h3>
          <p class="item-description">Quantity:</p>
          <p class="item-description">Delivery Date: </p>
          <p class="item-description">Delivery Time: </p>
        </ion-col>
        <ion-col tappable no-padding col-6 >
          <h3 class="item-title">&nbsp;{{order.gasBrand}} {{order.gasSize}}kg</h3>
          <p class="item-description">&nbsp;{{order.quantity}}</p>
          <p class="item-description">&nbsp;{{order.deliveryTime | date}}</p>
          <p class="item-description">&nbsp;{{order.deliveryTime | date:"shortTime"}}</p>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-item>

  <ion-fab bottom center>
    <button (click)="newOrder()"ion-fab color="toolbar"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>



</ion-content>
