<!--
  Generated template for the SmSverificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding class="verification">

  <div text-center>
    <img width="150" src="assets/img/GrabGas%20Logo%20Main.png">

    <p> Halo Gas will send you one time SMS verification code. Please Enter 4 digit verification code as
    stated in the SMS.</p>

    <br>

    <ion-item no-lines  class="input">
      <ion-input [(ngModel)]="userAttempt" text-center maxlength="4" type="number" placeholder="Verification Code"></ion-input>
      <ion-icon name="md-phone-portrait" item-right ></ion-icon>
    </ion-item>

    <br>

    <button tappable (click)="pushToHome()" ion-button color="toolbar" full> Verify</button>
    <button tappable (click)="backtoSignUp()" ion-button color="toolbarSecondary" full> Back to SignUp Page</button>

    <br>

    <p> For testing purpose, the verification code is 1234.</p>

  </div>

</ion-content>
