<!--
  Generated template for the DeliveryDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="toolbar">
    <ion-title>Delivery Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p><b>Delivery Address</b></p>
  <ion-item no-lines>
  <ion-textarea [(ngModel)]="address" row="4" type="text" placeholder="tap to Enter Address" ></ion-textarea>
  </ion-item>



  <p><b>Notes to deliver</b></p>
  <ion-item no-lines>
    <ion-textarea [(ngModel)]="deliveryNotes"  row="4" type="text" placeholder="tap to Enter Additional Notes" ></ion-textarea>
  </ion-item>
<br>
  <br>

  <p><b>Delivery Time</b></p>
  <ion-item>
    <button ion-item block tappable (click)="pickDateTime()"> {{dateTime | date:'medium'}}</button>
  </ion-item>

  <button ion-button block color="toolbar" tappable (click)="pushToOrderSummary()"> Order Summary </button>

</ion-content>
