<!--
  Generated template for the GasSelectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="toolbar">
    <ion-title>Select Brands</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col > <img class="backImg" tappable (click)="gasSelect('petronas')" [ngClass]="{selected: petronas.selected}" src="assets/img/PetronasGas.png">  </ion-col>
      <ion-col> <img class="backImg"  tappable (click)="gasSelect('petron')" [ngClass]="{selected: petron.selected}"   src="assets/img/PetronGas.png"> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> <img class="backImg"  tappable (click)="gasSelect('solarGas')" [ngClass]="{selected: solarGas.selected}"  src="assets/img/SolarGas.png"> </ion-col>
      <ion-col> <img class="backImg"  tappable (click)="gasSelect('miraGas')" [ngClass]="{selected: miraGas.selected}" src="assets/img/miraGas.png"> </ion-col>
    </ion-row>
  </ion-grid>

  <div class="priceSelection" [hidden]="hideSize">

    <h4> Select Size</h4>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let select of sizeSelections;  let i = index">
        <button ion-button color="toolbar" block (click)="sizeSelect(select,i)" [outline]=!select.selected > {{select.size}}kg</button>
        </ion-col>
      </ion-row>
    </ion-grid>


  <button color="toolbar" ion-button (click)="qtySizeSelect()" full> Next </button>
  </div>


</ion-content>
