page-gas-selection {



  img{ }

  img.selected {border: 5px solid  #FDC70B};
  img.notSelected {border: 5px solid  #FFFFFF};

  .priceSelection{
    text-align: center;
    h4{
      color:grey;
    }
  }

}
