<!--
  Generated template for the SizeQtySelectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="toolbar">
    <ion-title>Select Size and Quantity</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <br>
  <ion-item no-lines>
  <ion-label>Quantity</ion-label>
  <ion-select [(ngModel)]="quantity">
    <ion-option value=1>1</ion-option>
    <ion-option value=2>2</ion-option>
    <ion-option value=3>3</ion-option>
    <ion-option value=4>4</ion-option>
    <ion-option value=5>5</ion-option>
    <ion-option value=6>6</ion-option>
    <ion-option value=7>7</ion-option>
    <ion-option value=8>8</ion-option>
    <ion-option value=9>9</ion-option>
    <ion-option value=10>10</ion-option>
  </ion-select>
  </ion-item>
  <br>

  <ion-item  no-lines>
    <ion-label>Preferred Time</ion-label>
    <ion-select [(ngModel)]="preferredTime">
      <ion-option value="morning">Morning</ion-option>
      <ion-option value="afternoon">Afternoon</ion-option>
      <ion-option value="evening">Evening</ion-option>
    </ion-select>
  </ion-item>

  <div class="infotext">

    <p>Your gas order will be fulfilled between 1 to 3 days</p>
    <p>Your estimated price will be <b> RM28 - RM32</b></p>
  <br>
  </div>
  <p> Additional Notes</p>
  <ion-item no-lines>
  <ion-textarea [(ngModel)]="deliveryNote" class="sizeQtyTextArea" rows="4" type="text" no-lines placeholder="Enter any additional instruction here"></ion-textarea>
  </ion-item>
  <br>
  <button ion-button full color="toolbar" (click)="goToDeliveryDetails()"> Next</button>
</ion-content>
