<!--
  Generated template for the OrderSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="toolbar">
    <ion-title >Order Summary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>



    <ion-item no-lines>
      <ion-grid>
        <ion-row> <h4><ion-icon name="md-cart"></ion-icon><b> Your Gas Order</b></h4></ion-row>
        <ion-row>&nbsp;</ion-row>
        <ion-row>
          <ion-col> Order Type:</ion-col>
          <ion-col > <div class="alignRight"><b>{{gasOrder.transactionType}}</b></div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col> Gas Brand:</ion-col>
          <ion-col><div class="alignRight">{{gasOrder.gasBrand}}&nbsp;&nbsp;{{gasOrder.gasSize}}kg</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Quantity :  </ion-col>
          <ion-col><div class="alignRight">{{gasOrder.quantity}} </div> </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Total Price:</ion-col>
          <ion-col><div class="alignRight">RM28</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Preferred Time:</ion-col>
          <ion-col><div class="alignRight">{{gasOrder.preferredTime}}</div></ion-col>
        </ion-row>

    </ion-grid>
    </ion-item>
    <br>


    <ion-item no-lines wrap>
      <ion-grid>
        <ion-row> <h4><ion-icon name="md-bus"></ion-icon><b> Delivery Information</b></h4></ion-row>
        <ion-row>&nbsp;</ion-row>
        <ion-row text-wrap>
          {{gasOrder.deliveryAddress}}
        </ion-row>
        <ion-row> <br></ion-row>
        <ion-row>
          <ion-col>
            <ion-row> <h4><ion-icon name="md-alarm"></ion-icon><b> Est. Delivery Time</b></h4></ion-row>
          </ion-col>
          <ion-col>
          {{gasOrder.deliveryTime|date:"medium"}}
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-item>
  <br>


  <button ion-button block *ngIf="!fromSummary" (click)= "confirmOrder()" color="toolbar"> Confirm Order </button>

</ion-content>
