<!--
  Generated template for the ProfileCreatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding class="profile">



  <div text-center>
    <p>You are almost there. Just fill up the remaining form to start using.</p>
    <br>
    <img class="profilePic" tappable (click)="uploadPhoto()" height="180" width="180" [src]="imageSrc" />
    <br>

    <form  class="form"[formGroup]="profileForm">

    <ion-item no-lines  class="input">
      <ion-input [(ngModel)]="name" formControlName="email" type="text" placeholder="Name"></ion-input>
      <ion-icon name="md-contact" item-right ></ion-icon>
    </ion-item>

    <br>

    <ion-item no-lines  class="input">
      <ion-input [(ngModel)]="email" formControlName="email" type="email" placeholder="Email(Optional)"></ion-input>
      <ion-icon name="md-mail" item-right ></ion-icon>
    </ion-item>

    </form>

    <br>

    <button tappable (click)="homePage()" ion-button color="toolbar" full> Done</button>


  </div>

</ion-content>
