<ion-menu [content]="content">
  <ion-header>
  </ion-header>

  <ion-content>

    <br>
    <div text-center>

    <img [src]= 'profilePic' width="150" height="150" class="menuPic"> <br>
      <h4>{{ userName }}</h4>



    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>

    </div>
  </ion-content>



</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
