<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content padding class="signUp">



<div text-center>

  <img width="150" src="assets/img/GrabGas%20Logo%20Main.png">

  <p> Please enter your phone number to get started</p>



    <form  class="form"[formGroup]="signUpForm">

<br/>
    <ion-item no-lines  class="input">
      <ion-input maxlength="10" [(ngModel)]="phoneNumber" formControlName="phoneNumber" type="number" placeholder="Example: 0142211221"></ion-input>
      <ion-icon name="md-phone-portrait" item-right ></ion-icon>
    </ion-item>


  <!--  <ion-item class="input">
      <ion-input formControlName="email" type="email" placeholder="Email "></ion-input>
    </ion-item> -->
    </form>

  <br/>

  <button tappable (click)="pushToVerification()" ion-button color="toolbar" full> Sign Up</button>

  <p>  Are you an existing customer?  </p>

  <button tappable ion-button color="toolbarSecondary" full> Login</button>

</div>

</ion-content>
